<%- include("partials/header"); -%>

<!-- <h1><%=title%></h1>
  <p><%=content%></p> -->

<div class="card">
  <h5 class="card-header"><%=title%></h5>
  <div class="card-body">
    <p class="card-text"><%=content%></p>
  </div>
</div>
<br />
<br />
<a href="" class="btn btn-primary">Update</a>
<%- include("partials/footer"); -%>
