<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Register</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/register.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/84e9632ba7.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div>
        <div class="main">
            <div class="registers">
                <h2 class="h2">Register Here</h2>
                <%- include('partials/messages'); -%>
                    <form action="/users/register" method="POST" id="registers">
                        <label class="label" for="name">Name</label>
                        <br>
                        <input type="name" id="name" name="name" class="my" placeholder="Enter Name"
                            value="<%= typeof name != 'undefined' ? name : '' %>" />
                        <label class="label" for="email">Email</label>
                        <br>
                        <input type="email" id="email" name="email" class="my" placeholder="Enter Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                        <label class="label" for="password">Password</label>
                        <br>
                        <input type="password" id="password" name="password" class="my" placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>" />
                        <label class="label" for="password2">Confirm Password</label>
                        <br>
                        <input type="password" id="password2" name="password2" class="my" placeholder="Confirm Password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                        <br><br>
                        <button id="submit" type="submit">Register</button>
                        <p style="padding-top: 4px;">Have An Account? <a style="color: darkorange;"
                                href="/users/login">Login</a></p>
                    </form>
            </div>
        </div>
    </div>

</body>

</html>